Options +FollowSymLinks -MultiViews
Options -Indexes
RewriteEngine On
RewriteBase /

RewriteRule ^dvut$ /?page=dvut
RewriteRule ^unvoted$ /?page=unvoted
RewriteRule ^login/([a-zA-Z0-9]+)$ /login.php?hash=$1
RewriteRule ^logout$ /logout.php
RewriteRule ^google$ /google.php